<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins", sans-serif;
    }



    nav {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        min-height: 62px;
        padding: 0 20px;
        flex-wrap: wrap;
    }











    nav .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }





    nav .links a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }


    nav a:hover {
        font-weight: bolder;

    }


    .logout-btn {
        background-color: #b9332f;
        border-radius: 4px;
        font-size: 16px;
        height: 40px;
        width: 150px;
        color: white !important;
        border: none;
        outline: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 1s linear;
    }

    .logout-btn:hover {
        background-color: #cf4a46;

    }

    @media (max-width: 600px) {
        nav {
            justify-content: center;
            gap: 20px;
            padding: 20px 0;

        }

        .navbar-desktop {}
    }
</style>

<nav>


    <h2>LOGO</h2>
    <div class="links">
        <a href="/teacher">Home</a>
        <a href="/teacher/requests">Requests</a>
        <a href="/teacher/students">Studets</a>
    </div>

    <div>

        <!-- <a href="/quiz/create" class="create-btn">Create Quiz</a> -->
        <button onclick="onLogout()" class="logout-btn">Logout</button>

    </div>



</nav>


<script>


    async function onLogout() {

        if (confirm('Are you sure you want to Logout?')) {
            try {
                const url = `http://localhost:3000/auth/logout`;


                const response = await fetch(url);

                console.log('Response status:', response.status);

                if (response.ok) {
                    alert('LOGOUT successfully');
                    window.replace('/auth/login')
                } else {
                    const errorText = await response.text();
                    console.error('Error response:', errorText);
                    alert(`Failed to delete quiz. Server responded with status ${response.status}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while deleting the quiz');
            }
        }
    }
</script>