
    <nav>
        <h1 class="logo">JsSmartExam</h1>
        <div class="btn">
            <button class="startQuiz">Start Quiz</button>
            <button>Sign out</button>
        </div>
    </nav>
