
    <nav>
        <h1 class="logo">JsSmartExam</h1>
        <ul>
            <li>Home</li>
            <li>Quizzes</li>
            <li>Students</li>
        </ul>
        <button>Sign out</button>
    </nav>
