<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logoTvTracker" src="/images/Capture_d_écran_2024-09-10_202854-removebg-preview.png" alt="">
        <div class="menu-btn">
            <div class="navigation">
                <div class="navigation-items">
                    <a href="/">Home</a>
                    <a href="/auth/signup">Register</a>
                    <a href="/auth/login">Login</a>

                </div>
            </div>
        </div> 
    </header>

    <section id="homi" class="home">
        <div class="slideshow">
            <img src="/images/1111946.webp" alt="">
            <img src="/images/R (1).png" alt="">
            <img src="/images/R.png" alt="">
            <img src="/images/wp1828903.webp" alt="">
        </div>
    </section>
    
        <script src="/js/home.js"></script>
</body>
</html>