@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}


section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
}

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}

.home .content {
  z-index: 865;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
  display: block;
}
.home .contentMobile {
  display: none;
}

.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.logoTvTracker {
  width: 300px;
  height: 200px;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.textL {
  flex-basis: 30%;
}

.textLMobile {
  display: none;
}

.titre {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-align: center;
}
.para {
  color: #000000;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  section {
    padding: 100px 20px;
  }

  header .navigation {
    display: none;
  }
  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
  .menu-btn {
    background: url(/images/menu-svgrepo-com.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active {
    z-index: 999;
    background: url(/images/close-svgrepo-com.svg) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  .home .content {
    display: none;
  }
  .home .contentMobile {
    z-index: 865;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
    display: block;
  }
}