<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/css/student.css">
</head>
<body>
        <h1 class="logo">JsSmartExam</h1>

        <div class="content">
            <div class="profile">
                <img src="" alt="">
                <div>
                    <div class="info">
                        <h1>Lhaila Walid</h1>
                        <p>lhailawalid@gmail.com</p>
                    </div>
                    <div class="line"></div>
                    <div class="stats">
                        <div class="state">
                            <div class="icons">
                                <svg class="w-6 h-6 text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M13.09 3.294c1.924.95 3.422 1.69 5.472.692a1 1 0 0 1 1.438.9v9.54a1 1 0 0 1-.562.9c-2.981 1.45-5.382.24-7.25-.701a38.739 38.739 0 0 0-.622-.31c-1.033-.497-1.887-.812-2.756-.77-.76.036-1.672.357-2.81 1.396V21a1 1 0 1 1-2 0V4.971a1 1 0 0 1 .297-.71c1.522-1.506 2.967-2.185 4.417-2.255 1.407-.068 2.653.453 3.72.967.225.108.443.216.655.32Z"/>
                                </svg>                              
                            </div>
                            <div>
                                <h1>27</h1>
                                <p>Quiz Passed</p>
                            </div>
                        </div>
                        <div class="state">
                            <div class="icons">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
                                  </svg>                                                               
                            </div>
                            <div>
                                <h1>27</h1>
                                <p>Fastest Time</p>
                            </div>
                        </div>
                        <div class="state">
                            <div class="icons">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                  </svg>                                                              
                            </div>
                            <div>
                                <h1>27</h1>
                                <p>Correct Answers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1>My Quizes</h1>

            <div class="quizzes">

                <div class="quiz-card">
                    <div class="quiz-num">
                        <h1>1/2</h1>
                        <div class="teacher-name" style="background-color: rgba(12, 30, 192, 0.5); backdrop-filter: blur20px; -webkit-backdrop-filter: blur20px;">
                            <p>Assigned by : teacher name</p>
                        </div>
                    </div>
                </div>

                <div class="quiz-card">
                    <div class="quiz-num">
                        <h1>1/2</h1>
                        <div class="teacher-name" style="background-color: rgba(12, 30, 192, 0.5); backdrop-filter: blur20px; -webkit-backdrop-filter: blur20px;">
                            <p>Assigned by : teacher name</p>
                        </div>
                    </div>
                </div>

                <div class="quiz-card">
                    <div class="quiz-num">
                        <h1>1/2</h1>
                        <div class="teacher-name" style="background-color: rgba(12, 30, 192, 0.5); backdrop-filter: blur20px; -webkit-backdrop-filter: blur20px;">
                            <p>Assigned by : teacher name</p>
                        </div>
                    </div>
                </div>


                <div class="quiz-card">
                    <div class="quiz-num">
                        <h1>1/2</h1>
                        <div class="teacher-name" style="background-color: rgba(12, 30, 192, 0.5); backdrop-filter: blur20px; -webkit-backdrop-filter: blur20px;">
                            <p>Assigned by : teacher name</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</body>
</html>