<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/subject.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1 class="logo">JsSmartExam</h1>
        <ul>
            <li>Home</li>
            <li>Quizzes</li>
            <li>Subjects</li>
        </ul>
        <button class="signOut">Sign out</button>
    </nav>
    <div id="overlay" class="overlay">
        <div class="subject">
            <div id="closeForm" style="display: flex; justify-content: end; padding: 0px 10px; cursor: pointer;">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                </svg>
            </div>
            <h1>Add New Subject</h1>
            <form action="/subject/create" method="post">
                <div class="form">
                    <label for="">Name</label>
                    <input type="text" name="name">
                </div>
                <button class="send">Add</button>
            </form>
        </div>
    </div>


    <div class="allSubject">
        <div class="" style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Subjects</h2>
            <button  id="btn" style="background-color: blue; color: white; border: none; padding: 10px 30px; font-weight: bolder; border-radius: 4px; cursor: pointer;">Add Subject</button>
        </div>
        <div class="subjects">
            <% subjects.forEach(subject => { %>

            <div class="subject-card">
                <div class="titles-icon">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M10.271 5.575C8.967 4.501 7 5.43 7 7.12v9.762c0 1.69 1.967 2.618 3.271 1.544l5.927-4.881a2 2 0 0 0 0-3.088l-5.927-4.88Z" clip-rule="evenodd"/>
                    </svg>
                    <h1 class="subject-name"><%= subject.name %></h1>
                </div>
                <div class="date">
                    <h1>Id : <span><%= subject.id %></span></h1>
                    <h1>Created at : <span><%= subject.created_at %></span></h1>
                </div>
            </div>

            <% }) %>
        </div>
      
    </div>




    <script>
        const btn = document.getElementById('btn');
        const overlay = document.getElementById('overlay');
        const closeForm = document.getElementById('closeForm');
    
        
    btn.addEventListener('click', () => {
        if (overlay.style.display === 'none' || overlay.style.display === '') {
            overlay.style.display = 'block'; 
        } else {
            overlay.style.display = 'none'; 
        }
    });

    closeForm.addEventListener('click', (e) => {
        if(overlay.style.display === 'block'){
            overlay.style.display = 'none';
        }
    })
    </script>

</body>
</html>

